* { box-sizing: border-box; }

html,
body {
  margin: 0;
}

h1{
  color: #D8B340;
  font-family: Times, serif;
  font-size: 70px;
  max-width: 700px;
}
.hero{
  width: 100vw;
  height: 50vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://ex.smnarnold.com/git/radars-vivants/fillette-de-face.jpeg') no-repeat 50% 50%;
  background-size: cover;
}

.description .wrapper{
  font-family:  Times, serif;
  color: #161616;
  font-size: 16px;
  max-width: 700px;
}

.description{
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #D8B340;
}

.video{
  width: 100vw;
}

